@font-face {
  font-family: 'ElastreInk';
  src: url('https://res.cloudinary.com/dtu3vkxv6/raw/upload/v1746893218/Elastre_HEXP_INKT_1_zvee53.ttf')
    format('truetype');
  font-weight: normal;
  font-style: normal;
}
